:root {
  --light-grey: rgb(238, 238, 238);
  --dark-black: hsl(180, 9%, 9%);
}

main.container {
  margin-top: 20vh;
  display: flex;
  width: 100%;
  height: auto;
}
button.menu {
  display: none;
}
.search-icon {
  margin-right: 0;
  margin-left: auto;
  visibility: hidden;
}
nav ul.left,
nav ul.right {
  flex-wrap: nowrap;
}
header nav ul.left .input-box {
  min-width: 30vw;
}
@media only screen and (max-width: 535px) {
  header nav ul.left .input-box {
    display: none;
  }
  header nav ul.left {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
  }
  .search-icon {
    visibility: visible;
  }
}
@media only screen and (max-width: 870px) {
  header nav ul.right {
    z-index: 999;
    display: none;
    flex-direction: column;
    background-color: var(--dark-color);
    position: absolute;
    top: 14vh;
    width: max-content;
    padding: 2rem;
    border-radius: 0.3rem;
    border: 1px solid var(--primary-color);
    left: 0;
  }
  button.menu {
    display: block;
  }
}
.hero-image {
  animation: updown 4s ease-in-out infinite;
}
@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.card:hover .img {
  box-shadow: none;
  transition: all 0.1s linear;
  background-color: var(--primary-color);
  transform: scale(0.9);
  object-fit: contain;
}

.section-category .img {
  transition: all 0.1s linear;
  background-color: var(--dark-color-7);
  object-fit: contain;
}
.hero-section-button {
  padding: 0.8rem 1rem;
}

.hero-image {
  display: flex;
  justify-content: center;
}
.hero-section {
  display: flex;
  width: 100%;
  padding: 4rem 6rem;
  align-items: center;
  justify-content: space-between;
}
@media only screen and screen and (max-width: 1200px) {
  .hero-section-content {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .hero-image {
    order: 1;
  }
  .hero-section {
    width: 100%;
    gap: 3rem;
    flex-direction: column;
  }
  .section-category,
  .section-brands {
    text-align: center;
    justify-content: center;
  }
  .section-category .row {
    justify-content: center;
  }
  .section-brands .row {
    justify-content: center;
  }
}

li a.btn {
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem;
}
.browse-more-btn {
  padding: 0.4rem 0.6rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
form.form {
  background-color: var(--light-grey);
  margin-bottom: 15vh;
  margin-top: 0vh;
}
@media only screen and (max-width: 535px) {
  form.form {
    padding: 1rem;
    margin: 1rem;
  }
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  filter: invert(1);
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
}

main {
  height: 100vh;
}
.sidebar {
  margin-top: 2vh;
  padding-bottom: 12vh;
  flex: 3;
  margin: 2rem;
  margin-top: 0;
  height: 100vh;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 25vh;

  border-right: 2px solid var(--primary-color);
}
.sidebar .col {
  padding: 0.5rem;
}
section.products {
  flex: 12;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  padding-left: 2%;
  padding-bottom: 25vh;
}
.filter-btn {
  display: none;
}
@media only screen and (max-width: 950px) {
  section.products .row:nth-child(2) {
    justify-content: center;

    width: 100vw;
  }
  section.products .row:nth-child(1) {
    padding: 0 2rem;

    width: 100vw;
  }
  .sidebar {
    flex: auto;
    z-index: 999;
    display: none;
    background-color: var(--dark-color-1);
    backdrop-filter: var(--blur-5);
    position: absolute;
    top: 32vh;
    margin: 0;
    padding: 1rem;
    width: 100%;
    left: 0;
    box-shadow: var(--bx-sh-primary-1);
  }
  .filter-btn {
    display: block;
  }
}
.show {
  display: flex !important;
}
.outofstock {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-color-2);
  color: var(--primary-color);
  display: grid;
  place-content: center;
  font-size: x-large;
  font-weight: 600;
}
.sidebar-title {
  padding: 0.5rem;
  border-bottom: 2px solid var(--primary-color);
}
.silder-container {
  width: 10%;
}
.card-dark {
  overflow: hidden;
  background-color: var(--dark-black);
}
hr {
  background-color: var(--light-color-1);
}
.card-horizontal {
  max-height: 35vh;
}
.card-horizontal .card-header img {
  height: 100%;
  padding: 1rem;
  object-fit: contain;
}
.card-horizontal .card-bottom {
  max-width: max-content;

  flex: auto;
}
.card-horizontal .card-header {
  height: fit-content;
  max-width: max-content;
  flex: 2;
}
@media only screen and only screen and (max-width: 600px) {
  .card-horizontal {
    max-width: max-content;
    max-height: max-content;
  }
  .card-header img {
    width: 100%;
    height: 15rem;
  }
  .card-horizontal .card-header {
    max-width: 100%;
    height: min-content;
  }

  .card-horizontal .card-bottom {
    max-width: max-content;
    height: min-content;
  }
}
.cart-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}
@media only screen and only screen and (max-width: 565px) {
  .cart-price-details,
  .cart-products {
    margin: 0.5rem;
  }
  .card-header img {
    width: 100%;
    max-height: 10rem;
  }
}
.cart-products {
  width: 35rem;
  margin-bottom: 35vh;
  overflow: hidden;
  overflow-y: scroll;
}
.apply-btn {
  padding: 0.75rem 1rem;
}
.cart-price-details {
  background-color: var(--dark-black);
  width: max-content;
}
@media only screen and only screen and (max-width: 935px) {
  .cart-products {
    order: 2;
  }

  .cart-price-details {
    order: 1;
  }
}
@media only screen and only screen and (max-width: 580px) {
  .coupon-section input,
  button {
    width: 100%;
  }
}
@media only screen and only screen and (max-width: 580px) {
  .cart-products {
    align-content: center;
  }
  .card-horizontal {
    flex-direction: column;
  }
  .card-header img {
    width: 100%;
    max-height: 13rem;
  }
}
.wishlist-wrapper {
  top: 20vh;
  position: relative;
}
.wishlist-section {
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  height: 120vh;
  padding-bottom: 50vh;
}
